header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(51, 153, 255);
    border-radius:10px;
    padding: 5px;
}

.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

