*{
/*   border:1px solid orange;
  */ font-family:verdana;
}
nav li a{
text-decoration:none;
text-align:center;
}
nav ul{
list-style-type:none;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(51, 153, 255);
    border-radius:10px;
    padding: 5px;
}

.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

tr.group,
tr.group:hover {
    background-color: #ddd !important;
}
