<doctype html>
    <html>
        <head>
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
            <meta name="viewport" content="width=device-width, initial-scale=1">
	    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

	    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>



	    {% block head %}
	    {% endblock %}
            <title>NYC Gov Job Search</title>
        </head>
        <body>
	   <section class="container">
            <header>
                <h1>NYC Gov Job Search</h1>
                <nav>
                    <ul>
                        <li><a href="index">Home</a></li>
  
                    </ul>
                </nav>
            </header>
	 	<section class="content">

	            {% block content %}{% endblock %}

       		</section>
	 <!--    <section class="footer"> -->
	     	<footer>
			 <h1>NYC Gov Job Search</h1>
	                 <nav>
         		           <ul>

                        		<li><a href="index">Home</a></li>

	                           </ul>
               		 </nav>

		</footer>
	  <!--   </section> -->
  	   </section>

        </body>
    </html>
