{% extends "layout.html" %}
{% block styles %}
<!-- <style>
.tablestats {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
}
</style> -->
{% endblock %}
{% block content %}
<script src="{{ url_for('static',filename='js/main.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>


<div class="tablestats">
<p>There were {{num_item}} items returned.</p>

<button onclick="exportTableToCSV('results.csv')">Download CSV</button>
</div>
<table border="1px" id="results_table" >
<thead>    
<tr>
        <th>JobId</th>
        <th>Job Title</th>
        <th>Job Link</th>
        <th>Agency Code</th>
        <th>Agency Name</th>
        <th>Department</th>
        <th>Location</th>
        <th>Listed Agency</th>
        <th>Posted Date</th>

    </tr>
</thead>
<tbody>
    {% for i in range(num_item) %}
        <tr>
            <td>{{data[i][0]}}</td>
            <td><b>{{data[i][1]}}</b></td>
            <td><a href="{{data[i][2]}}" >Link to Job</a></td>
            {% for j in range(3,9) %}
            <td>{{data[i][j]}}</td>
            {% endfor %}
            <!-- <td>
                <a href="update?{{data[i][0]}}">edit</a>
                <a href="delete?{{data[i][0]}}">delete</a>
            </td> -->
        </tr>
    {% endfor %}
</tbody>
</table>


<script>
$(document).ready( function () {
    $('#results_table').DataTable({
	"lengthMenu":[10,25,50,75,100,500,1000]
} );
} );</script>

{% endblock %}

